:root {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    --ship-bg-colour: #43464B;
}

body {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-rows: 1fr 12fr 0.5fr;
    height: 100vh;
}

footer {
    text-shadow: 0px 2px 2px orange, 0px 0px 0.5rem red;
    box-shadow: inset 0px 0px 7px 9px #b6a9a978, 1px 0px 3rem 3px #db4315;
    background-color: #000000bf;
}

button {
    border-radius: 10px;
    border: 2px solid orangered;
    color: white;
    box-shadow: 0px 0px 1px 0.5px orange;
    background-color: var(--ship-bg-colour);
}

button:hover {
    background-color: black;
}

.game-container {
    display: flex;
    flex-direction: column;
    background-color: #262626;
    z-index: 1;
}

.game-display {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.game-board-container, .game-toolbar {
    display: flex;
    justify-content: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(10, minmax(10px, 60px));
    justify-content: center;
    max-width: 90%;
    border: 1px solid black;
}

.game-cell {
    border: 1px solid black;
    background-color: #3987c9;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pin {
    border: 1px solid black;
    background-color: black;
    width: 35%;
    height: 35%;
    border-radius: 20px;
}

#attacking .game-cell:not(.attacked):not(.ship-attacked){
    cursor: pointer;
}

header, dialog {
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    font-weight: bolder;
    text-shadow: 0px 2px 2px orange, 0px 0px 0.5rem red;
    box-shadow:  inset 0px 0px 7px 9px #b6a9a978, 1px 0px 3rem 3px #db4315;
    background-color: #000000bf;
    z-index: 2;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ship {
    background-color: var(--ship-bg-colour);
}

.game-cell.ship-attacked {
    background-color: var(--ship-bg-colour);
}


.attacked .pin {
    background-color: white;
    box-shadow: inset 0px 0px 5px 2px grey;
}

.game-cell.ship-attacked .pin {
    background-color: red;
    box-shadow: inset 0px 0px 5px 2px darkred;
}

#display-winner {
    font-size: 3rem;
    letter-spacing: 0.1rem;
}

#randomise-ships {
    font-size: 2rem;
    margin: 5px;
    padding: 5px 10px;
}

button:hover {
    cursor: pointer;
}