:root {
    font-size: 62.5%;
}

body {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-rows: 1fr 12fr 0.5fr;
    height: 100vh;
}

header, footer {
    border: 1px solid black;
}

.game-container {
    display: flex;
    flex-direction: column;
}

.game-display {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.game-board-container, .game-toolbar {
    display: flex;
    justify-content: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(10, minmax(10px, 60px));
    justify-content: center;
    max-width: 90%;
    border: 1px solid black;
}

.game-cell {
    border: 1px solid black;
    background-color: #3987c9;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pin {
    border: 1px solid black;
    background-color: black;
    width: 35%;
    height: 35%;
    border-radius: 20px;
}

#attacking .game-cell:not(.attacked):not(.ship-attacked){
    cursor: pointer;
}

header {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ship {
    background-color: #43464B;
}

.game-cell.ship-attacked {
    background-color: #43464B;
}


.attacked .pin {
    background-color: white;
    box-shadow: inset 0px 0px 5px 2px grey;
}

.game-cell.ship-attacked .pin {
    background-color: red;
    box-shadow: inset 0px 0px 5px 2px darkred;
}

#display-winner {
    font-size: 3rem;
    letter-spacing: 0.1rem;
}

#randomise-ships {
    font-size: 2rem;
    margin: 5px;
    padding: 5px 10px;
}

button:hover {
    cursor: pointer;
}