:root {
    font-size: 62.5%;
}

body {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-rows: 1fr 12fr 0.5fr;
    height: 100vh;
}

header, footer, div {
    border: 1px solid black;
}

header {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}